body {
    padding-top: 50px;
}

a {
    cursor: pointer;
}

ul, li {
    padding: 0;
    list-style: none;
}

/************************ navbar *******************************/

.navbar-white {
    margin-top: -1px;
    border-radius: 0;
    border-bottom: 1px solid #dadada;
    background-color: white;
}

.navbar-white .navbar-brand,
.navbar-white .navbar-nav > li > a {
    color: black;
}

.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover {
    color: white;
    background-color: #00abe5;
}

.navbar-white .navbar-nav > li > a:hover {
    color: white;
    background-color: #00abe5;
}

/************************** gallery ******************************/

.gallery > .head {
    height: 80px;
    padding-top: 20px;
}

.gallery > .head > .title {
    display: inline-block;
    margin: 0;
    font-size: 26px;
}

.gallery > .head > .toolbox {
    float: right;
}

.gallery > .head > .toolbox > select {
    display: inline-block;
    width: 65px;
}

.gallery > .main {
    width: 100%;
    display: flex;
}

.gallery > .main > .section {
    flex: 1;
}

.gallery > .main > .content {
    width: 100%;
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery > .main > .content > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery > .main > .content > ul > li {
    margin: 10px;
    display: flex;
}

.gallery > .main > .content > ul > li.grid {
    margin: 10px 14px;
    max-height: 170px;
    overflow: hidden;
    flex-direction: column;
}

.gallery > .main > .content > ul > li.grid h2 {
    font-size: 16px;
    margin: 0;
}

.gallery > .main > .content > ul > li.row {
    margin-right: 0;
    flex-direction: row;
    width: 100%;
}

.gallery > .main > .content > ul > li.row > .info {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gallery > .main > .content > ul > li.row h2 {
    font-size: 20px;
    margin: 0;
}

.gallery > .main > .content > ul > li.row p {
    margin: 0;
}

.gallery > .main > .content > ul > li.row span {
    min-height: 60px;
}