html {
    font-size: 62.5%;
}

body {
    padding-top: 50px;
    font-family: "Microsoft YaHei", 微软雅黑, Arial;
    background-color: #ededef;
}

label {
    font-weight: normal;
}

label.disable {
    color: #ccc;
}

a,
button {
    cursor: pointer;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    /*font-weight: lighter !important;*/
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea {
    border: 1px solid #cccccc;
    resize: none;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        padding: 0;
    }
}

.pull-right.active {
    color: #cc364f;
}

.icon-cursor {
    margin-top: 2px;
    font-size: 10px;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    font-style: normal;
    font-size: 22px;
    height: 26px;
    width: 26px;
    margin: 5px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.icon-close:after {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: white;
    top: 0;
    left: 0;
    font-size: 18px;
    content: '✕';
    text-align: center;
}

.icon-close:hover {
    background-color: #f87574;
}

.icon-close:hover:after {
    color: white;
}

.icon-close.table-close {
    top: 0;
    right: 0;
    background-color: transparent;
}

.icon-close.table-close:hover:after {
    color: #f87574;
}

.select2-container {
    min-width: 100px;
}

.select2-drop {
    width: 180px;
}

/******************************* navbar *******************************/

.navbar-white {
    margin-top: -1px;
    border-radius: 0;
    border-bottom: 1px solid #dadada;
    background-color: white;
}

.navbar-white .navbar-brand,
.navbar-white .navbar-nav > li > a {
    color: black;
}

.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover {
    color: white;
    background-color: #00abe5;
}

.navbar-white .navbar-nav > li > a:hover {
    color: white;
    background-color: #00abe5;
}

/******************************* gallery ******************************/

.gallery {
    position: relative;
    background-color: white;
    width: 100%;
    height: 850px;
}

.gallery > .head {
    margin-top: 20px;
    height: 72px;
    line-height: 72px;
    vertical-align: middle;
    background-image: -webkit-linear-gradient(-180deg, rgb(29, 144, 227) 0%, rgb(204, 54, 79) 100%);
    background-image: -ms-linear-gradient(-180deg, rgb(29, 144, 227) 0%, rgb(204, 54, 79) 100%);
    color: white;
}

.gallery > .head > .title {
    height: 100%;
    line-height: 72px;
    padding-left: 270px;
    display: inline-block;
    margin: 0;
    font-size: 2.2rem;
}

.gallery > .head > .toolbox {
    font-size: 1.4rem;
    float: right;
    padding-right: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery > .head > .toolbox > .search {
    position: relative;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 140px;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.gallery > .head > .toolbox > .search a {
    color: white;
    display: block;
    padding-left: 10px;
    text-decoration: none;
}

.gallery > .head > .toolbox > .search > .droplist {
    font-size: 1.2rem;
    padding: 5px 0;
    color: black;
    background-color: white;
}

.gallery > .head > .toolbox > .search > .droplist a {
    color: black;
}

.gallery > .head > .toolbox > .search > .droplist a:hover,
.gallery > .head > .toolbox > .search > .droplist > li:hover {
    background-color: #cc364f;
    color: white;
}

.gallery > .head > .toolbox > .search:after {
    position: absolute;
    top: 3px;
    right: 0;
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-image: url("../images/down.png");
    pointer-events: none;
}

.gallery > .head > .toolbox > .btn-group {
    display: inline-block;
    width: 90px;
}

.gallery > .head > .toolbox button {
    height: 30px;
    width: 50%;
    padding: 0;
    border-color: rgba(255, 255, 255, 0.4);
    outline: none;
    background-color: transparent;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gallery > .head > .toolbox button.active,
.gallery > .head > .toolbox button:hover {
    background-color: rgba(0, 102, 204, 0.5);
}

.gallery > .head > .toolbox button > img {
    margin-top: -6px;
}

.gallery > .main {
    width: 100%;
}

.gallery > .main > .section {
    position: absolute;
    top: 25px;
    left: 30px;
    display: inline-block;
    width: 220px;
    height: 770px;
    background-color: white;
    -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
}

.gallery > .main > .section > .title {
    display: inline-block;
    height: 90px;
    width: 220px;
    line-height: 90px;
    vertical-align: middle;
    text-align: center;
    font-size: 3.2rem;
    font-weight: lighter;
    border-bottom: 1px solid #dedede;
    background: -webkit-linear-gradient(-8deg, #cc364f, #1d90e3);
    background: -o-linear-gradient(-8deg, #cc364f, #1d90e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.field {
    font-size: 14px;
}

.field.active {
    color: #cc364f;
}

.category > li {
    position: relative;
    padding-left: 60px;
    height: 35px;
    cursor: pointer;
    line-height: 35px;
    vertical-align: middle;
}

.category > li > a {
    text-decoration: none;
    background-color: transparent;
    color: #737373;
    font-size: 14px;
}

.category > li.active,
.category > li.active > a {
    background-color: rgb(204, 54, 79) !important;
    color: white !important;
}

.category > li:hover > a {
    color: rgb(204, 54, 79);
}

.category > li.active:before {
    position: absolute;
    top: -1px;
    left: 36px;
    content: "○";
}

.section .panel-body {
    padding: 0;
}

.gallery > .main > .content {
    width: 100%;
    padding-left: 270px;
}

.gallery > .main > .content > ul {
    height: 680px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
}

.gallery > .main > .content > ul > li {
    margin: 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery > .main > .content > ul > li.expand {
    margin: 20px 0 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
    width: 900px;
    background-color: #373c3e;
    /*transition: all linear 0.2s;*/
}

.gallery > .main > .content > ul > li.expand.ng-hide {
    height: 0;
    padding: 0;
    opacity: 0;
}

.gallery > .main > .content > ul > li.expand > img {
    height: 110px;
    width: 150px;
}

.gallery > .main > .content > ul > li.expand > .info {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 580px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.gallery > .main > .content > ul > li.expand > .info > h2 {
    margin: 0;
    font-size: 2.2rem;
}

.gallery > .main > .content > ul > li.expand > .info p {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 20px;
    color: #dedede;
}

.gallery > .main > .content > ul > li.expand > .info > span {
    font-size: 1.2rem;
    line-height: 22px;
    margin: -5px 0 0 0;
    color: #bfbfbf;
}

.gallery > .main > .content > ul > li.grid {
    position: relative;
    margin: 20px 20px 0 0;
    height: 140px;
    width: 210px;
    max-height: 180px;
    /*overflow: hidden;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gallery > .main > .content > ul > li.grid.hover:after,
.gallery > .main > .content > ul > li.grid:hover:after {
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -5px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #373c3e;
}

.gallery > .main > .content > ul > li.grid h2 {
    font-size: 1.6rem;
    margin: 0;
    line-height: 150px;
    text-align: center;
    vertical-align: middle;
}

.gallery > .main > .content > ul > li.grid > .info {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(1, 1, 1, 0.4);
}

.gallery > .main > .content > ul > li.list {
    height: 152px;
    width: 902px;
    margin: 0 0 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ededed;
}

.gallery > .main > .content > ul > li.list:hover {
    background-color: #e6ecff;
    border: 1px solid #e6ecff;
}

.gallery > .main > .content > ul > li.list:first-child {
    margin-top: 20px;
}

.gallery > .main > .content > ul > li.list > img {
    height: 110px;
    width: 150px;
}

.gallery > .main > .content > ul > li.list > .info {
    color: black;
    width: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.gallery > .main > .content > ul > li.list > .info > h2 {
    font-size: 2.2rem;
    margin: 0;
    color: #333333;
}

.gallery > .main > .content > ul > li.list > .info p {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 20px;
    color: #6b6b6b;
}

.gallery > .main > .content > ul > li.list > .info > span {
    color: #808080;
    font-size: 1.2rem;
    line-height: 22px;
    margin: -5px 0 0 0;
    vertical-align: top;
}

.gallery > .main > .content > .pagination {
    float: right;
    height: 30px;
    margin: 20px 30px;
}

.gallery > .main > .content > .pagination > ul {
    margin: 0;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1d90e3;
    border-color: #1d90e3;
}

.gallery button.btn-more {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 32px;
    width: 90px;
    color: #eef7fb;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: #1d90e3;
}

.gallery button.btn-more:active {
    border: none;
    outline: none;
    background-color: #cc364f;
}

.map button.btn-back {
    display: inline-block;
    margin-left: 10px;
    height: 32px;
    width: 90px;
    color: white;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: #1d90e3;
}

.map button.btn-back:active {
    border: none;
    outline: none;
    background-color: #cc364f;
}

.btn {
    margin: 0;
    padding: 0 8px;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    outline: none;
}

.full-btn {
    display: inline-block;
    min-width: 150px;
    width: 100%;
}

.btn-blue {
    color: white;
    border-radius: 0;
    border-color: #1d90e3;
    background-color: #1d90e3;
    opacity: 0.8;
}

.btn-blue:active,
.btn-group > .btn-blue.active,
.btn-group > .btn-blue.active:hover {
    opacity: 1;
    color: white;
    background-color: #1d90e3;
    outline: none;
}

.btn-blue:hover,
.btn-blue:visited,
.btn-blue:focus {
    color: white;
    outline: none !important;
}

.btn-blue.btn-outline {
    color: #1d90e3;
    background-color: white;
}

.btn-blue.btn-outline:active {
    color: white !important;
    background-color: #1d90e3;
}

.btn-blue.btn-outline:hover {
    color: #1d90e3;
}

.lightblue {
    color: #a8c7e5;
}

.lightblue2 {
    color: #73b3e0;
}

/* entire container, keeps perspective */

.flip-container,
.front,
.back {
    width: 100%;
    height: 850px;
}

.flip-container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
}

.flip-container .flipper {
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    position: relative;
}

.flip-container.flip .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: visible;
    top: 0;
    left: 0;
}

.front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.flip-container .front,
.flip-container.flip .back {
    animation: stayvisible 0.5s both;
    -webkit-animation: stayvisible 0.5s both;
    -moz-animation: stayvisible 0.5s both;
    -o-animation: stayvisible 0.5s both;
    -ms-animation: donothing 0.5s;
    -ms-transition: visibility 0s linear 0.17s;
    visibility: visible;
}

.flip-container.flip .front,
.flip-container .back {
    animation: stayvisible 0.5s both;
    -webkit-animation: stayvisible 0.5s both;
    -moz-animation: stayvisible 0.5s both;
    -o-animation: stayvisible 0.5s both;
    -ms-animation: donothing 0.5s;
    -ms-transition: visibility 0s linear 0.17s;
    visibility: hidden;
}

@keyframes stayvisible {
    from {
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}

@-webkit-keyframes stayvisible {
    from {
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}

/******************************* map ******************************/

.map {
    position: relative;
    background-color: white;
    width: 100%;
    height: 850px;
}

.map > .head {
    margin-top: 20px;
    padding: 32px 38px;
    height: 180px;
    /*line-height: 180px;*/
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.map > .head > .info {
    width: 620px;
}

.map > .head > .info > h2 {
    font-size: 2.8rem;
    color: #333333;
}

.map > .head > .info tr td {
    font-size: 1.4rem;;
    color: #616161;
}

.map > .head > .method {
    min-width: 300px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.map > .head > .method > button {
    margin-top: 36px;
    display: inline-block;
    width: 136px;
}

.map > .main {
    padding: 0 32px;
}

.map > .main > .segment {
}

.map > .main > .segment > .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    font-size: 2rem;
    line-height: 20px;
    vertical-align: middle;
}

.map > .main > .segment > .title > h2 {
    height: 20px;
    font-size: 2rem;
    line-height: 20px;
    vertical-align: middle;
    padding-right: 20px;
}

.map > .main > .segment > .title > h2:before {
    height: 20px;
    font-size: 2rem;
    content: "|";
    color: #cc364f;
    margin: 5px;
}

.map > .main > .segment > .title > hr {
    float: right;
    margin: 10px 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.map > .main > .segment > .content {
    padding: 30px 15px;
    line-height: 30px;
}

.flipbook-viewport {
    position: absolute;
    margin-top: 20px;
    padding-top: 20px;
    height: 800px;
    width: 100%;
    background-color: white;
    z-index: 100;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flip-close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.flip-close:after {
    content: '✕';
    position: absolute;
    padding-left: 5px;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.flip-close:hover:after {
    background-color: #f87574;
    color: white;
}

.flip-buttons {
    margin-bottom: 20px;
}

.flipbook-container {
    position: relative;
}

#flipbook {
    margin: 0 auto;
    overflow: hidden;
}

#flipbook .hard {
    background: #ccc !important;
    color: #333;
    -webkit-box-shadow: inset 0 0 5px #666;
    -o-box-shadow: inset 0 0 5px #666;
    -ms-box-shadow: inset 0 0 5px #666;
    box-shadow: inset 0 0 5px #666;
    font-weight: bold;
}

.left {
    background-position: left top;
    background-size: 800px 600px;
    height: 600px;
    width: 400px;
}

.right {
    background-position: right top;
    background-size: 800px 600px;
    height: 600px;
    width: 400px;
}

.first-page {
    background-image: url('../images/封面1.png');
    background-size: 800px 600px;
}

.flip-name {
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 26px;
    color: white;
}

.flip-company {
    position: absolute;
    color: white;
    right: 20px;
    bottom: 5px;
}

.last-page {
    background-image: url('../images/底页1.png');
    background-size: 800px 600px;
}

.img1 {
    background-image: url('../images/01行政区划.jpg');
}

.img2 {
    background-image: url('../images/02地理概况.jpg');
}

.img3 {
    background-image: url('../images/03地表覆盖.jpg');
}

/******************************* mask ******************************/

.mask {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.mask > .overlay {
    position: relative;
    margin: 220px auto;
    height: 480px;
    width: 790px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
}

/******************************* geo-panel ******************************/

.geo-bg {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.geo-bg > .geo-img {
    margin: 0;
    padding: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
}

.geo-bg > .geo-img > img {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.geo-panel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 690px;
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.geo-panel > .top {
    margin: 0;
    padding: 0;
    height: 60px;
    min-height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("../images/top.png");
}

.geo-panel > .top > .title {
    display: inline-block;
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.545;
}

.geo-panel > .main {
    position: relative;
    height: 440px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
}

.geo-panel > .main > .left {
    height: 440px;
    width: 50%;
    padding: 30px;
}

.geo-panel > .main > .left > .list {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(222, 222, 222);
    overflow: auto;
}

.geo-panel > .main > .left > .list > .item {
    padding: 8px 15px;
    border-bottom: 1px solid rgb(222, 222, 222);
    cursor: pointer;
}

.geo-panel > .main > .left > .list > .item.active {
    color: white;
    background-color: #337ab7 !important;
}

.geo-panel > .main > .left > .list > .item:hover {
    background-color: #ececec;
}

.geo-panel > .main > .left > .list > .item:last-child {
    margin-bottom: -1px;
}

.geo-panel > .main > .right {
    position: relative;
    height: 440px;
    width: 50%;
    padding: 30px;
}

.radio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.radio-item > input[type=radio] {
    margin-right: 5px;
}

.right > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 180px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 40px 0;
}

.right > .list > .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.right > .list > .item > .name {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.right > .list > .item > .value {
    display: inline-block;
    flex: auto;
}

.right > .checkbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 35px 0;
}

.right > .checkbox-list > .checkbox-item > input {
    margin-right: 5px;
}

.right > .btns {
    position: absolute;
    bottom: 30px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.right > .btns > .btn {
    margin-left: 10px;
}

/******************************* theme-panel ******************************/

.theme-panel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 690px;
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.theme-panel > .top {
    margin: 0;
    padding: 0;
    height: 60px;
    min-height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("../images/top.png");
}

.theme-panel > .top > .title {
    display: inline-block;
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.545;
}

.theme-panel > .main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    overflow: hidden;
}

.theme-panel > .main > .step1,
.theme-panel > .main > .step2,
.theme-panel > .main > .step3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 30px;
    -webkit-transition: -webkit-transform .6s ease-in;
    transition: -webkit-transform .6s ease-in;
    transition: transform .6s ease-in;
    transition: transform .6s ease-in, -webkit-transform .6s ease-in;
}

.theme-panel > .main > .step1.swipe1,
.theme-panel > .main > .step2.swipe1,
.theme-panel > .main > .step3.swipe1 {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.theme-panel > .main > .step1.swipe2,
.theme-panel > .main > .step2.swipe2,
.theme-panel > .main > .step3.swipe2 {
    -webkit-transform: translate(-200%, 0);
    transform: translate(-200%, 0);
}

.theme-panel > .main > .step2 {
    margin-left: 100%;
}

.theme-panel > .main > .step3 {
    margin-left: 200%;
}

.theme-panel > .main .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
}

.theme-panel > .main .step > .step-name {
    color: #414141;
    margin: 5px;
}

.theme-panel > .main .file-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 20px 0;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}

.theme-panel > .main .file-content .get-template {
    position: absolute;
    top: 30px;
    right: 20px;
}

.theme-panel > .main .file-content > .file-table {
    border: 1px solid #d4d4d4;
    margin-top: 10px;
    /*padding: 5px 10px;*/
    height: 230px;
    overflow: auto;
}

.theme-panel > .main .file-content > .file-table > .table {
    margin: 0;
}

.theme-panel > .main .file-content > .file-table > .table tr th,
.theme-panel > .main .file-content > .file-table > .table tr td {
    white-space: nowrap;
}

.theme-panel > .main .file-content > .btn-next {
    margin-top: 20px;
}

.theme-panel > .main .file-content > .btn-next button {
    float: right;
}

.theme-panel > .main .file-pick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 520px;
    height: 60px;
}

.theme-panel > .main .file-pick > .file-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: 400px;
    border: 1px solid #cccccc;
    padding: 0 5px;
}

.file {
    position: relative;
    display: inline-block;
    padding: 4px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.step2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.step2 > .cal-content {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.step2 > .cal-content > .cal-left {
    padding: 20px 0;
    width: 60%;
    color: #4c4c4c;
}

.cal-left .range-title {
    padding-left: 30px;
}

.cal-left .range-div {
    position: relative;
    margin: 40px 0 0 60px;
    height: 100px;
    width: 200px;
    border: 1px solid #dedede;
}

.cal-left .range-div > input {
    height: 30px;
    width: 100px;
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    outline: none;
    padding: 0 5px;
}

.range-top {
    top: -15px;
    left: 50px;
}

.range-bottom {
    bottom: -15px;
    left: 50px;
}

.range-left {
    top: 35px;
    left: -50px;
}

.range-right {
    top: 35px;
    right: -50px;
}

.range {
    position: relative;
    height: 250px;
}

.range > button {
    position: absolute;
    right: 80px;
    bottom: 20px;
}

.cal-left > .img {

}

.cal-left > .img > .img-title {
    padding-left: 30px;
}

.cal-left > .img > .img-value {
    margin: 20px 0 0 20px;
}

.cal-left > .img > .img-value input {
    height: 30px;
    width: 100px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    outline: none;
    padding: 0 5px;
}

.step2 > .cal-content > .cal-right {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 20px 0;
}

.cal-right > .target {
    position: absolute;
    width: 100%;
}

.cal-right > .target > .target-list {
    padding: 10px;
}

.cal-right > .target > .target-list > .target-item {
    width: 100px;
    margin-bottom: 10px;
}

.cal-right > .target > .target-list > .target-item > input {
    margin-right: 10px;
}

.cal-right > .btn-next {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.value-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 350px;
}

.value-content > .value-left {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    padding: 40px 20px;
}

.value-content > .value-left > .value-bottom {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.value-content > .value-left > .value-bottom > .value-symbol,
.value-content > .value-left > .value-bottom > .value-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.value-content > .value-right {
    width: 50%;
    padding: 40px 20px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.value-content > .value-right > .value-list {
    height: 200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.value-content > .value-right > .value-list > .value-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 100%;
}

.value-content > .value-right > .value-list > .value-item > span {
    display: inline-block;
    width: 70px;
    padding: 0 10px;
    text-align: center;
}

.value-content > .value-right > .value-list > .value-item > input {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0;
    width: 150px;
}

.value-content > .value-right > .btn-next {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

/******************************* query-panel ******************************/

.query-panel {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 690px;
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.query-panel > .top {
    margin: 0;
    padding: 0;
    height: 60px;
    min-height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: url("../images/top.png");
}

.query-panel > .top > .title {
    display: inline-block;
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.545;
}

.query-panel > .main {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    overflow: hidden;
}

.query-panel > .main .table-responsive {
    height: 250px;
    border: 1px solid #cccccc;
}

.query-panel > .main .table-responsive > table {
    margin: 0;
}

.query-panel > .main .table-responsive tr th,
.query-panel > .main .table-responsive tr td {
    text-align: center;
    vertical-align: middle;
}

.query-panel > .main .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
}

.query-panel > .main .address textarea {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}

.query-panel > .main .btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.query-panel > .main .step1,
.query-panel > .main .step2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 30px 40px;
    -webkit-transition: -webkit-transform .6s ease-in;
    transition: -webkit-transform .6s ease-in;
    transition: transform .6s ease-in;
    transition: transform .6s ease-in, -webkit-transform .6s ease-in;
}

.query-panel > .main .step1.swipe,
.query-panel > .main .step2.swipe {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.query-panel > .main .step2 {
    margin-left: 100%;
}

.query-panel > .main .step2 > .json {
    height: 330px;
    width: 100%;
    border: 1px solid #cccccc;
    overflow: auto;
}