body {
    padding-top: 50px;
}

/************************ navbar *******************************/

.navbar-white {
    margin-top: -1px;
    border-radius: 0;
    border-bottom: 1px solid #dadada;
    background-color: white;
}

.navbar-white .navbar-brand,
.navbar-white .navbar-nav > li > a {
    color: black;
}

.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover {
    color: white;
    background-color: #00abe5;
}

.navbar-white .navbar-nav > li > a:hover {
    cursor: pointer;
    color: white;
    background-color: #00abe5;
}

/************************** gallery ******************************/

.gallery > .head {
    height: 80px;
    padding-top: 20px;
}

.gallery > .head > .title {
    display: inline-block;
    margin: 0;
    font-size: 26px;
}

.gallery > .head > .toolbox {
    float: right;
}

.gallery > .main {
    display: flex;
}

.gallery > .main > .section {
    flex: 1;
}

.gallery > .main > .content {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery > .main > .content > ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gallery > .main > .content > ul > li {
    list-style: none;
    margin: 0 28px 20px 0;
}