<div class="query-panel" ng-if="!vm.overlay.showImg">
    <div class="top">
        <div class="title">{{vm.overlay.title}}</div>
    </div>
    <div class="main">
        <div class="step1" ng-class="{swipe1: vm.overlay.swipe===1, swipe2: vm.overlay.swipe===2}">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th ng-repeat="th in vm.overlay.queryData.head">{{th}}</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="td in vm.overlay.queryData.body">
                        <td ng-repeat="th in vm.overlay.queryData.head">{{td[th]}}</td>
                        <td><input type="text" ng-model="td.Value"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="address">
                <span>地址：</span>
                <textarea cols="30" rows="3" ng-model="vm.overlay.queryUrl"></textarea>
            </div>
            <div class="btns">
                <button class="btn btn-primary" ng-click="assemble()">地址组装</button>
                <button class="btn btn-primary" ng-click="commit()">确定</button>
            </div>
        </div>
        <div class="step2" ng-class="{swipe1: vm.overlay.swipe===1, swipe2: vm.overlay.swipe===2}">
            <!--<div id="jsonDiv" class="json-div"></div>-->
            <pre class="json">{{vm.overlay.json}}</pre>
            <!--<textarea cols="30" rows="16" ng-model="vm.overlay.json"></textarea>-->
            <div class="btns">
                <button class="btn btn-default" ng-click="vm.overlay.swipe=0">返回</button>
                <button class="btn btn-primary" ng-click="showMap()">查看</button>
            </div>
        </div>
        <div class="step3" ng-class="{swipe1: vm.overlay.swipe===1, swipe2: vm.overlay.swipe===2}">
            <div id="map"></div>
            <div class="btns">
                <button class="btn btn-default" ng-click="vm.overlay.swipe=1">返回</button>
                <button class="btn btn-primary" ng-click="closeMask()">退出</button>
            </div>
        </div>
    </div>
    <i class="icon-close" ng-click="closeMask()"></i>
</div>
