<div>
    <div class="theme-panel" ng-if="!showImg">
        <div class="top">
            <div class="title">{{vm.overlay.title}}</div>
        </div>
        <div class="main">
            <div class="step1" ng-class="{'swipe1': step===1, 'swipe2': step===2}">
                <div class="step">
                    <img src="images/step1.png">
                    <span class="step-name">选择数据源</span>
                </div>
                <div class="file-content">
                    <div class="file-input">
                        <div class="file-pick">
                            <span>导入Excel：</span>
                            <div class="file-name">{{xlsName}}</div>
                            <a href="javascript:;" class="file">
                                <img src="images/file.png">
                                <js-xls name="xlsName" onread="read" onerror="error"></js-xls>
                            </a>
                        </div>
                        <a class="get-template" ng-click="getTemplate()">获取模版</a>
                    </div>
                    <div class="file-table table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th ng-repeat="th in xlsData.head">{{th}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="td in xlsData.body">
                                <td ng-repeat="th in xlsData.head">{{td[th]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-next">
                        <button class="btn btn-primary" ng-click="next(1)">下一步</button>
                    </div>
                </div>
            </div>
            <div class="step2" ng-class="{'swipe1': step===1, 'swipe2': step===2}">
                <div class="step">
                    <img src="images/step2.png">
                    <span class="step-name">计算内容</span>
                </div>
                <div class="cal-content">
                    <div class="cal-left">
                        <div class="range">
                            <span class="range-title">1、请选择范围：</span>
                            <div class="range-div">
                                <input type="tel" class="range-top" ng-model="vm.overlay.ymax">
                                <input type="tel" class="range-right" ng-model="vm.overlay.xmax">
                                <input type="tel" class="range-bottom" ng-model="vm.overlay.ymin">
                                <input type="tel" class="range-left" ng-model="vm.overlay.xmin">
                            </div>
                            <!--<button class="btn btn-success">设置</button>-->
                        </div>
                        <div class="img">
                            <span class="img-title">2、请确定图片大小：</span>
                            <div class="img-value">
                                <span>高：</span>
                                <input type="tel" ng-model="vm.overlay.imgHeight">
                                <span style="margin-left: 10px">宽：</span>
                                <input type="tel" ng-model="vm.overlay.imgWidth">
                            </div>
                        </div>
                    </div>
                    <div class="cal-right">
                        <div class="target">
                            <div class="target-title">3、请选择指标</div>
                            <div class="target-list">
                                <label class="target-item" ng-repeat="check in checkboxs">
                                    <input type="checkbox" ng-model="check.checked">{{check.name}}
                                </label>
                            </div>
                        </div>
                        <div class="btn-next">
                            <button class="btn btn-primary" ng-click="next(0)">上一步</button>
                            <button class="btn btn-primary" ng-click="next(2)">下一步</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step3" ng-class="{'swipe1': step===1, 'swipe2': step===2}">
                <div class="step">
                    <img src="images/step3.png">
                    <span class="step-name">符号样式</span>
                </div>
                <div class="value-content">
                    <div class="value-left">
                        <img class="value-img" ng-src="{{'data:image/png;base64,' + symbolImg}}">
                        <div class="value-bottom">
                            <div class="value-symbol">
                                <span>符号类型：</span>
                                <ui-select ng-model="symbolTypes.selected" theme="select2">
                                    <ui-select-match>
                                        {{symbolTypes.selected.code}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="type in symbolTypes.data" position='up'>
                                        <div style="display: flex;align-items: center"
                                             ng-click="renderImg({symbolCode: type.code})">
                                            <img ng-src="{{'data:image/png;base64,' + type.imgBase64Str}}">
                                            <span ng-bind-html="type.code"></span>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="value-color">
                                <span>色彩方案：</span>
                                <ui-select ng-model="colorTypes.selected" theme="select2">
                                    <ui-select-match>
                                        {{colorTypes.selected.code}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="color in colorTypes.data" position='up'>
                                        <div style="display: flex;align-items: center"
                                             ng-click="renderImg({colorCode: color.code})">
                                            <img ng-src="{{'data:image/png;base64,' + color.imgBase64Str}}">
                                            <span ng-bind-html="color.code"></span>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="value-right">
                        <ul class="value-list">
                            <li class="value-item">
                                <span>大小</span>
                                <input type="range" ng-model="vm.overlay.size" min="10" max="200"
                                       ng-change="renderImg()" ng-model-options="{debounce: 300}">
                                <span>{{vm.overlay.size}}</span>
                            </li>
                            <li class="value-item">
                                <span>透明度</span>
                                <input type="range" ng-model="vm.overlay.alpha" ng-change="renderImg()"
                                       ng-model-options="{debounce: 300}">
                                <span>{{vm.overlay.alpha/100}}</span>
                            </li>
                            <li class="value-item">
                                <span>厚度</span>
                                <input type="range" ng-model="vm.overlay.depth" max="40" ng-change="renderImg()"
                                       ng-model-options="{debounce: 300}">
                                <span>{{vm.overlay.depth}}</span>
                            </li>
                            <li class="value-item">
                                <span>圆率</span>
                                <input type="range" ng-model="vm.overlay.ratioCircle" ng-change="renderImg()"
                                       ng-model-options="{debounce: 300}">
                                <span>{{vm.overlay.ratioCircle/100}}</span>
                            </li>
                            <li class="value-item">
                                <span>环率</span>
                                <input type="range" ng-model="vm.overlay.ratioRing" max="90" ng-change="renderImg()"
                                       ng-model-options="{debounce: 300}">
                                <span>{{vm.overlay.ratioRing/100}}</span>
                            </li>
                        </ul>
                        <div class="btn-next">
                            <button class="btn btn-primary" ng-click="next(1)">返回</button>
                            <button class="btn btn-primary" ng-click="commit()">完成</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="icon-close" ng-click="closeMask()"></i>
    </div>
    <div ng-if="showImg">
        <img ng-src="{{imgUrl}}">
        <i class="icon-close" ng-click="closeMask()"></i>
    </div>
</div>