<div class="flip-container" ng-class="{flip: vm.flipper}">
    <div class="flipper">
        <div class="front" ng-class="{top: !vm.flipper, bottom: vm.flipper}">
            <div class="gallery">
                <div class="head">
                    <!--<h2 class="title">{{vm.title}}</h2>-->
                    <div class="toolbox">
                        <span>排序依据：</span>
                        <div class="search">
                            <a class="search-box" ng-click="vm.toolbox.droplist=!vm.toolbox.droplist" ng-focus="focus()"
                               ng-blur="blur()">{{vm.selected.name}}</a>
                            <ul class="droplist" ng-show="vm.toolbox.droplist">
                                <li ng-repeat="option in vm.options" ng-click="change($index)">
                                    <a>{{option.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-class="{active: !vm.toolbox.expand}"
                                    ng-click="expand(false)">
                                <img src="../images/grid.png">
                            </button>
                            <button class="btn btn-default" ng-class="{active: vm.toolbox.expand}"
                                    ng-click="expand(true)">
                                <img src="../images/line.png">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="section">
                        <span class="title">资源分类</span>
                        <ul class="category">
                            <li ng-class="{active: $index===vm.classificate}" ng-click="classify($index)"
                                ng-repeat="section in vm.sections">
                                <a>{{section.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <ul>
                            <li ng-repeat-start="item in vm.gallery" ng-mouseover="hover($index)"
                                ng-class="{grid: !vm.toolbox.expand, list: vm.toolbox.expand, hover: $index===vm.expand.id}">
                                <img height="140" width="210" ng-src="{{item.img}}">
                                <div class="info">
                                    <h2>{{item.title}}</h2>
                                    <div ng-if="vm.toolbox.expand">
                                        <p>上次修改时间：<span class="lightblue2">{{item.update}}</span></p>
                                        <p style="margin-left: 30px">
                                            版本号：<span class="lightblue2">{{item.version}}</span>
                                        </p>
                                    </div>
                                    <span ng-if="vm.toolbox.expand">{{item.brief}}</span>
                                </div>
                                <button ng-if="vm.toolbox.expand" class="btn btn-primary btn-more"
                                        ng-click="goMore($index)">MORE ➝
                                </button>
                            </li>
                            <li class="expand" ng-if="!vm.toolbox.expand&&$index % 4 == 3"
                                ng-show="vm.expand.open[($index+1)/4-1]" ng-repeat-end>
                                <img ng-src="{{vm.gallery[vm.expand.id].img}}" height="110" width="150"
                                     style="background-color: white">
                                <div class="info">
                                    <h2>{{vm.gallery[vm.expand.id].title}}</h2>
                                    <div>
                                        <p>上次修改时间：<span class="lightblue">{{vm.gallery[vm.expand.id].update}}</span></p>
                                        <p style="margin-left: 30px">
                                            版本号：<span class="lightblue">{{vm.gallery[vm.expand.id].version}}</span>
                                        </p>
                                    </div>
                                    <span>{{vm.gallery[vm.expand.id].brief}}</span>
                                </div>
                                <button class="btn btn-primary btn-more" ng-click="goMore(vm.expand.id)">MORE ➝</button>
                            </li>
                            <!-- if the row is not full -->
                            <li class="expand" ng-if="!vm.toolbox.expand&&vm.gallery.length % 4 != 0"
                                ng-show="vm.expand.open[vm.expand.last]">
                                <img ng-src="{{vm.gallery[vm.expand.id].img}}" height="110" width="150"
                                     style="background-color: white">
                                <div class="info">
                                    <h2>{{vm.gallery[vm.expand.id].title}}</h2>
                                    <div>
                                        <p>上次修改时间：<span class="lightblue">{{vm.gallery[vm.expand.id].update}}</span></p>
                                        <p style="margin-left: 30px">
                                            版本号：<span class="lightblue">{{vm.gallery[vm.expand.id].version}}</span>
                                        </p>
                                    </div>
                                    <span>{{vm.gallery[vm.expand.id].brief}}</span>
                                </div>
                                <button class="btn btn-primary btn-more" ng-click="goMore(vm.expand.id)">MORE ➝</button>
                            </li>
                        </ul>
                        <div class="pagination">
                            <ul uib-pagination class="pagination-sm" total-items="vm.pagination.totalItems"
                                items-per-page="vm.pagination.pageSize" ng-model="vm.pagination.pageNo"
                                max-size="vm.pagination.maxSize" ng-change="pageChanged()" previous-text="&lsaquo;"
                                next-text="&rsaquo;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back" ng-class="{top: vm.flipper, bottom: !vm.flipper}">
            <div class="map">
                <div class="head">
                    <img ng-src="{{vm.data.img}}" height="116">
                    <div class="info" style="display: flex;flex-direction: column;justify-content: space-between">
                        <h2>{{vm.data.title}}</h2>
                        <table cellpadding="200">
                            <tr>
                                <td style="padding-bottom: 10px">所有者：<span
                                        style="color: #73b3e0">{{vm.data.author}}</span></td>
                                <td style="padding:0 0 10px 20px">版本号：{{vm.data.version}}</td>
                            </tr>
                            <tr>
                                <td>更新时间：{{vm.data.update}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="method">
                        <button class="btn btn-outline full-btn btn-blue" ng-click="preview()">查看</button>
                        <!--<button class="btn btn-outline full-btn btn-blue" ng-click="download()">下载</button>-->
                    </div>
                </div>
                <div class="main">
                    <div ng-repeat="segment in vm.segments" class="segment">
                        <div class="title">
                            <h2>{{segment.title}}</h2>
                            <hr>
                        </div>
                        <p class="content">{{segment.content}}</p>
                    </div>
                    <button class="btn btn-primary btn-back" ng-click="vm.flipper=false">返回</button>
                </div>
            </div>
        </div>
    </div>
    <flip-book ng-if="vm.showBook" pages="vm.atlas.pages"></flip-book>
</div>